body{
    background-color: #D6DAC8;
}

.red::-webkit-input-placeholder {
    color: red; !important;
}

.navbar{
    background-color: #9CAFAA;
    font-weight: bold;
    font-family: "Arial";

}
.nav-link:hover{
    cursor: pointer;
    color: brown;

}
.custom-nav-link{
    text-decoration: none;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: #D6DAC8 ;
}
.custom-nav-link:hover {
    background-color: #9CAFAA;
}
/*Dashboard*/
.dashboard-cards{
    display: grid;
    top: 100px;
    left: 200px;
    right: 200px;

    width: 100%;
    height: 125px;
}
.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding: 15px;

    position: absolute;
    top: 150px;
    left: auto;
    right: auto;
    justify-content:  center;
}
.item{
    margin-right: 20px;
}
/*Customer Styles*/
.form-side{
    width: 25vw;

    position: absolute;
    top: 70px;
    bottom: 0;
    left: 10px;
    right: 0;
}
.custom-table{
    width: 70vw;
    position: absolute;
    margin: auto;
    border: 4px solid black;
    border-radius: 10px;

    top: 90px;
    left: 25vw;
    right: 0;
}

/*Orders Css*/
.form-2{
    width: 25vw;

    position: absolute;
    left: 620px;
    right: 0;
    top: 70px;
}
.form-3{
    width: 25vw;

    position: absolute;
    left: 610px;
    right: 0;
    top: 35px;
}
.custom-table-orders{
    width: 100vw;
    position: absolute;
    margin: auto;
    border: 4px solid black;
    border-radius: 10px;

    top: 500px;
    left: 0;
    right: 0;
}

#total-price {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 200px;
    right: 100px;
    font-weight: 800;
    font-size: 24px;

}